[Unit]
Description=owfs to openHAB: notify DS1990A keys
After=openhab.service
		
[Service]
User=openhab
Group=openhab
ExecStart=/var/lib/openhab/scripts/owfs2oh_DS1990A/owfs2oh_DS1990A.sh
Restart=always

[Install]
WantedBy=multi-user.target
